{% extends 'inventory/base.html' %}

{% block body %}

    <div class="container">
        <br>
        <form method="POST" >
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="id_{{ field.name }}" class="col-2 col-form-label"> {{ field.label }} </label>
                    <div class="col-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-success" name="button">Edit Device</button>
        </form>
    </div>

{% endblock %}