{% extends 'inventory/base.html' %}

{% block body %}
    <br>
    <div class="button-group">

    <a href="{% url 'display_laptop' %}" class="btn btn-primary btn-md" role="button">Laptop</a>
    <a href="{% url 'add_laptop' %}" class="btn btn-warning btn-sm" role="button">+</a>

    <a href="{% url 'display_desktop' %}" class="btn btn-primary btn-md" role="button">Desktop</a>
    <a href="{% url 'add_desktop' %}" class="btn btn-warning btn-sm" role="button">+</a>

    <a href="{% url 'display_mobile' %}" class="btn btn-primary btn-md" role="button">Mobile</a>
    <a href="{% url 'add_mobile' %}" class="btn btn-warning btn-sm" role="button">+</a>

    </div>
<br>
    <h4>You are in {{ header }} Table</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Model</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.issues }}</td>
                {% if header|lower == 'laptop' %}
                    <td>
                        <a href="{% url 'edit_laptop' item.pk %}" class="btn btn-danger btn-sm" role="button">Edit</a>
                        <a href="{% url 'delete_laptop' item.pk %}" class="btn btn-warning btn-sm" role="button">Delete</a>
                    </td>
                {% elif header|lower == 'desktop' %}
                    <td>
                        <a href="{% url 'edit_desktop' item.pk %}" class="btn btn-danger btn-sm" role="button">Edit</a>
                        <a href="{% url 'delete_desktop' item.pk %}" class="btn btn-warning btn-sm" role="button">Delete</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{% url 'edit_mobile' item.pk %}" class="btn btn-danger btn-sm" role="button">Edit</a>
                        <a href="{% url 'delete_mobile' item.pk %}" class="btn btn-warning btn-sm" role="button">Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}