<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>
{% csrf_token %}

<div>
<ul>
<li><a class="active" href="#">Home</a></li>
{% if user.is_authenticated %}
    <li><a href="inventory/">Inventory</a></li>
    <li><a href="account/logout">Log-Out</a></li>
{% else %}
    <li style="margin-left: 1050px"><a href="account/login">Sign-In</a></li>
    <li><a href="account/register">Sign-Up</a></li>
{% endif %}
</ul>
<h4>Hello, <strong>{{ user.first_name }}</strong> !!</h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
<div class="container">
    <h3>Welcome to the Dashboard !!</h3>
</div>
</div>
</body>
</html>